.App {
  /* text-align: center; */
 display: flex;
}

.App .left{
  flex: 30%;
  height: 40vh;
  border: 1px solid rgb(47, 255, 116);
  position: sticky;
  top: 1px;
}
.App .right{
  flex: 70%;
  height: auto;
  border: 1px solid rgb(47, 193, 255);
}

